:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark light;
    color: var(--text); //#213547;
    background-color: var(--bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text);
    overflow: hidden;
}

main {
    height: 100vh;

    &.content {
        hyphens: auto;
        overflow: auto;
    }
}

a {
    color: var(--accent);
    text-decoration: inherit;
}
a:hover,
a:hover:visited {
    color: var(--accent-active);
}
a:visited {
    font-weight: 300;
    color: var(--text-muted);
}

h1 {
    font-size: 3.2em;
    line-height: 1.2;
}

h1,
h2,
h3 {
    letter-spacing: -0.2pt;
}

button,
button.default,
a[role='button'],
input[type='reset'],
input[type='submit'],
input[type='file']::file-selector-button,
select {
    border-radius: 4px;
    border: 1px solid #606060;
    padding: 0.4em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--accent);
    background-color: var(--surface);
    cursor: pointer;
    transition: border-color 0.25s;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 20%);

    &:hover {
        border-color: gray;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    }

    &:disabled {
        cursor: default;
        color: var(--text-muted);
        border-color: var(--surface-light);
        background-color: var(--surface);
        text-shadow: unset;
    }
}

option {
    background-color: var(--surface);
    color: var(--text);
}

button:focus,
button:focus-visible,
button.default:focus,
button.default:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button.icon {
    color: var(--surface-mid);
    padding: 0 0.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 70%);
    transition: opacity 0.25s;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }

    i.bx {
        font-size: 3em;
    }
}

button.switch-icon {
    padding: .2rem;
    outline: 0;
    border: 1px solid var(--border);
    border-radius: 1em;
    text-shadow: unset;
    font-size: small;
    width: 2em;
    height: 2em;
    transition: all .2s ease-in-out;

    color: var(--accent);
    background-color: var(--bg);

    &.selected {
        color: var(--accent);
        border-color: var(--accent);            
    }

    &.disabled {
        color: var(--surface-mid);
        border-color: var(--surface-mid);
        background-color: transparent;
    }

    &:hover {
        color: var(--text);
        background-color: var(--bg);
    }
}

button.primary,
a[role='button'].primary,
input[type='reset'].primary,
input[type='submit'].primary,
input[type='file'].primary::file-selector-button {
    color: var(--surface);
    background-color: var(--accent);
    box-shadow: var(--shadow-md);
}

button.primary:hover,
a[role='button'].primary:hover,
input[type='reset'].primary:hover,
input[type='submit'].primary:hover,
input[type='file'].primary:hover::file-selector-button {
    background-color: var(--accent-muted);
}

button.primary:disabled,
a[role='button'].primary:disabled,
input[type='reset'].primary:disabled,
input[type='submit'].primary:disabled,
input[type='file'].primary:disabled::file-selector-button {
    color: var(--text-muted);
    background-color: var(--surface-light);
}

button:hover,
a[role='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover,
input[type='file']:hover::file-selector-button {
    background-color: var(--surface-light);
}

button:disabled {
    cursor: not-allowed;
}

button.clear,
button.clear:disabled,
input[type='file'].clear,
input[type='file'].clear::file-selector-button {
    border: 0;
    outline: 0;
    box-shadow: unset;
    background-color: transparent;
}

input,
textarea {
    font: inherit;
    padding: 0.35em 0.6em;
    color: var(--text);
    background-color: var(--bg);
}

input:disabled,
textarea:disabled {
    color: var(--text);
    background-color: var(--surface);
}

input.error,
textarea.error,
input.mark:focus,
textarea.mark:focus {
    outline: 2px solid var(--highlight);
    outline-offset: 1px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px var(--highlight);
}

input.valid,
input.valid:focus,
textarea.valid,
textarea.valid:focus {
    outline: 2px solid var(--accent);
    outline-offset: 1px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px var(--accent);
}

div.titlebar {
    display: flex;
    justify-content: space-between;
    color: var(--surface);
    background: linear-gradient(to right, var(--accent-muted) 20%, var(--accent));
    white-space: nowrap;
    font-weight: 500;
    font-style: italic;
    width: 100%;
    max-height: 2.2em;
    padding: 0;

    .text {
        display: inline-block;
        flex-grow: 1;
        font-style: italic;
        padding: .4em .8em;
    }

    .titlebar-button {
        color: inherit;
        background-color: transparent;
        box-shadow: unset;
        padding: 0.2em 0.8em 0 0.8em;
        border: 0;
        outline: 0;
        max-width: 4em;
        max-height: inherit;
        transition: all 0.2s ease-in-out;
        font-size: smaller;

        &:hover {
            background-color: #f0f0f040;
        }
    }
    
    a.titlebar-button {
        display: flex;
        align-items: center;
    }
}

a.label,
span.label {
    border: 1px solid var(--border);
    background-color: var(--label);
    box-shadow: var(--shadow-md);
    margin: 0.4rem 0.2rem;
    padding: 0.2rem 0.6rem;
    border-radius: 1rem;
    font-size: smaller;
}

a.label:hover {
    background-color: var(--bg);
}

blockquote {
    background-color: var(--surface);
    font-size: 14pt;
    margin: 30px 0;
    padding: 30px 30px 30px 40px;
    position: relative;
    font-style: normal;
    border-left: 3px solid var(--accent);

    cite {
        color: gray;
        text-transform: uppercase;
        font-size: 10pt;
        font-style: normal;
        letter-spacing: 1px;
    }
}
