:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: #213547;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  /* https://coolors.co/e9e3d6-e0d7c7-bfb9aa-a71908-0b0802 */
  --primary: #A71908;
  --secondary: #d0ff00;
  --primdark: hwb(6 3% 60%);
  --primselect: #BFB9AA;
  --primghost: #E0D7C7;
  --primback: #E9E3D6;
  --text: #0B0802;
  --textghost: #0B080280;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text);
  overflow: hidden;
}

main {
  height: 100vh;

  &.content {
    hyphens: auto; 
    overflow: auto;
  }
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover, a:hover:visited {
  color: var(--primactive);
}
a:visited {
  font-weight: 300;
  color: var(--textghost);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button, 
a[role=button],
input[type=reset], 
input[type=submit],
select {
  border-radius: 4px;
  border: 1px solid #606060;
  padding: .4em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--primary);
  background-color: var(--primback);
  cursor: pointer;
  transition: border-color 0.25s;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 20%);
}

button:hover, 
a[role=button]:hover,
input[type=reset]:hover, 
input[type=submit]:hover {
  border-color: gray;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled, 
input[type=reset]:disabled, 
input[type=submit]:disabled {
  cursor: default;
  color: var(--textghost);
  border-color: var(--primghost);
  background-color: var(--primback);
  text-shadow: unset;
}

button.icon {
  padding: 2px 0 0 0;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  outline: 0;
  opacity: .7;
}

button.icon:hover {
  opacity: 1;
}

button.primary, 
a[role=button].primary,
input[type=reset].primary, 
input[type=submit].primary {
  color: var(--primback);
  background-color: var(--primary);
  box-shadow: 0px 2px 6px hsla(0, 0%, 60%);
}

button.primary:hover, 
a[role=button].primary:hover,
input[type=reset].primary:hover, 
input[type=submit].primary:hover {
  background-color: var(--primdark);
}

button.primary:disabled, 
a[role=button].primary:disabled,
input[type=reset].primary:disabled, 
input[type=submit].primary:disabled {
  color: var(--textghost);
  background-color: var(--primghost);
}

input {
  color: var(--text);
  background-color: white;
}

input:disabled {
  color: var(--text);
  background-color: var(--primback);
}

input.error, input.mark:focus {
  outline: 2px solid var(--secondary);
  outline-offset: 1px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px var(--secondary);
}

input.valid, input.valid:focus {
  outline: 2px solid var(--primary);
  outline-offset: 1px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px var(--primary);
}

input.sm {
    width: 5rem;
}

input.lg {
    width: 15rem;
}

.fa-square::before {
  content: '☐ ';
}

.fa-check-square::before {
  content: '☑ ';
}

.fa-trash::before {
  content: '✗ ';
  color: red;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.secondary:hover, .secondary:active {
  color: var(--secactive);
}

.secondary:visited {
  color: var(--secghost);
}

.larger {
  transform: scale(1.5);
}

.error, .error::before {
    color: red;
}

div.card {
  padding: 4px;
  display: flex;

  a, span, p {
      white-space: nowrap;
  }

  div.col {
      padding: 0 1em;
  }
}

a.label,
span.label {
  border: 1px solid silver;
  background-color: #F0F0F0C0;
  box-shadow: 2px 2px 4px #80808060;
  margin: .4rem .2rem;
  padding: .2rem .6rem;
  border-radius: 1rem;
  font-size: smaller;
}

a.label:hover {
    background-color: white;
}

div.autocomplete {
  .input-container {
    width: 16em;

    .autocomplete-clear-button {
      left: 14em;
      right: unset !important;
      transition: all .2s ease-in-out;

      &:hover {
        color: var(--primary);
      }
    }
  }

  div.autocomplete-list {
    background-color: var(--primback) !important;
    max-width: 100%;
  
    div.autocomplete-list-item {
      padding: 0;
  
      &.selected,
      &:hover {
        color: black !important;
        background-color: var(--primselect) !important;
        transition: all .2s ease-in-out;
      }
    }

    div.autocomplete-list-item-no-results {
      padding: 0;
    }
  }
}