.menu {

    @mixin row {
        display: block;
        margin: 0 1rem;
        padding: .4rem;
        text-align: left;
    }

    div {
        border-top: 1px solid silver;
        white-space: nowrap;
        width: 100%;
    }

    div:last-child {
        border-bottom: 1px solid silver;
    }
    
    label {
        @include row;
    }

    p {
        margin: .6rem 1rem;
        text-align: left;
    }
    
    input[type=text], 
    input[type=email],
    input[type=password] {
        @include row;
        border: 1px solid gray;
        transition: all .2s ease-in-out;

        &:focus {
            outline: 1px solid var(--primary);
        }
    }

    p {
        padding: 0;
    }
    
    button, 
    a[role="button"] {
        width: 100%;
        border: 0;
        border-radius: 0;
        box-shadow: unset;
        min-height: 3em;
        text-align: center;
        transition: all .2s ease-in-out;

        span {
            display: inline-block;
            padding: 6px;
        }

        i:not(.bx-sm) {
            border: 1px solid silver;
            border-radius: 1em;
            background-color: white;
            padding: 4px;
        }

        &:hover {
            background-color: white;
        }

        &:disabled {
            background-color: transparent;
        }
        
        &.w50 {
            width: 50%;
            border-left: 1px solid silver;
        }

        &.highlight {
            border: 1px solid var(--primary);
        }
    }

    a[role="button"] {
        display: block;

        span {
            color: var(--primary);
            padding-top: .6em;
            vertical-align: middle;
        }
    }

    .success-text {
        color: DodgerBlue;
    }

    .danger-text {
        color: Red;
    }
}