div.tabulator {
    div.tabulator-header {
        background-color: var(--primback);
        border-bottom: 1px solid silver;
        
        div.tabulator-col {
            border-right: 1px solid silver;
            // height: 68px;
        }
        
        span.tabulator-col-resize-handle {
            box-sizing: border-box;
            // height: 68px;
        }
    }

    div.tabulator-table {
        div.tabulator-group {
            border-top: 0;
            background-color: var(--primback);

            span {
                display: inline-block;
                color: var(--text);
                margin-top: .2rem;
                margin-bottom: .2rem;
                padding-right: .6rem;
            }

            span.title {
                min-width: 8rem;
            }

            span.label {
                font-weight: 500;
                border-color: silver;
            }
        }

        div.tabulator-row {
            transition: all .2s ease-in-out;
        }

        div.tabulator-row:hover {
            background-color: var(--primback);
        }

        div.tabulator-row.tabulator-selected {
            background-color: var(--primselect) !important;
        }

        div.tabulator-row.tabulator-selected:hover {
            background-color: var(--primghost) !important;
        }

        div.tabulator-cell {
            p {
                margin: 0;
            }
        }

        div.tabulator-editing {
            padding-right: .5em;
            input {
                margin: 0 .5em;
                font-family: inherit;
                font-size: inherit;
            }
        }

        div.tabulator-validation-fail {
            outline: 1px solid red;
            border-color: red;
            background-color: var(--primback);
        }
    }

    div.tabulator-placeholder-contents {
        color: var(--primghost);

        div.welcome {
            margin: 1em 10%;
            color: var(--text);
            font-weight: normal;
            text-align: left;
            max-width: 40em;

            a, h1, h2 {
                color: var(--primary);

                i, em {
                    text-decoration: underline;
                    color: var(--primary);
                }
            }

            a:hover {
                text-decoration: underline;
            }

            i, em {
                color: var(--primselect);
            }
        }
    }

    button.tabulator-page,
    select.tabulator-page-size {
        border: 0;
        background-color: transparent;
        box-shadow: unset;
        padding: .1rem .4rem;
    }
}

/* progress bar column */
div.progress-bar-container {
    position: relative;
    width: 100%;
    height: 30px;
    background: linear-gradient(to right, firebrick, red 20%, orange 33%, yellow 45%, yellowgreen, darkgreen);
    border: 1px solid gray;
}

div.progress-bar {
    position: absolute;
    height: 100%;
    background-color: var(--primback);
    opacity: .8;
}

div.percent-value {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
}

/* favorite column */
div.tabulator-cell.fav {
    font-size: larger;
    color: silver;
}

div.tabulator-cell.fav.active {
    color: gold;
    text-shadow: 1px 1px 1px gray;
}

/* status column */
div.tabulator-cell.status {
    text-shadow: 1px 1px 1px gray;
}

div.tabulator-cell.status.unkown::before {
    content: '?';
    color: lightgray;
}

div.tabulator-cell.status.todo::before {
    content: '○';
    color: gray;
}

div.tabulator-cell.status.wip::before {
    content: '>>';
    letter-spacing: -.25em;
    color: steelblue;
}

div.tabulator-cell.status.done::before {
    content: '✓';
    color: green;
}

div.tabulator-cell.status.repeat::before {
    content: '<<';
    letter-spacing: -.25em;
    color: red;
}

div.tabulator-cell.status.archived::before {
    content: '✗';
    color: purple;
}