:host {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    background: linear-gradient(to right, firebrick, red 20%, orange 33%, yellow 45%, yellowgreen, darkgreen);
    border: 1px solid gray;
}

div {
    position: absolute;
    height: 100%;
    background-color: var(--primback);
    opacity: .8;
}

span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
}