:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: whitesmoke;
    background-color: #242424;
  }

  span.label {
    border: 1px solid gray;
    background-color: #242424;
  }
}

body {
  margin: 0;
}

span.label {
  border: 1px solid silver;
  background-color: whitesmoke;
  margin: .4rem .2rem;
  padding: .2rem .6rem;
  border-radius: 1rem;
  font-size: smaller;
}